<p>
    <b>Tree</b>
</p>
<br />
<img *ngIf="isLoading" src="https://miro.medium.com/max/1158/1*9EBHIOzhE1XfMYoKz1JcsQ.gif" width="120px" />
<div [hidden]="isLoading">
    <div (click)="selectAll()" style="margin-bottom: 5px;">
        <input type="checkbox" class="css-checkbox" [(ngModel)]="allSelected" />
        <label class="css-label lite-gray-check">Select All</label>
    </div>
    <tree-root class="org-tree" #tree [nodes]="nodes" [options]="options">
        <ng-template #treeNodeTemplate let-node let-index="index">
            <div (click)="onNodeClick(node)">
                <input type="checkbox" class="css-checkbox" [(ngModel)]="node.data.selected" />
                <label class="css-label lite-gray-check">{{ node.data.name }}</label>
            </div>
        </ng-template>
    </tree-root>
</div>
<br />
<button (click)="submit()">Submit</button>